@tailwind base;
@tailwind components;
@tailwind utilities;


.dark {
    --color-bg-primary: #0f172a;
    --color-bg-secondary: #283141;
    --color-bg-focus: #ffffff;
    --color-text-primary: #ffffff;
    --color-text-secondary: #be185d;
    --color-text-focus: #ffffff;
    --color-text-accent: #81e6d9;
    --color-border-focus: #be185d;
    --color-icon-side: #be185d;
  }
  
  
  .light {
    --color-bg-primary: #ffffff;
    --color-bg-secondary: #edf2f7;
    --color-bg-focus: #000000;
    --color-text-primary: #000000;
    --color-text-secondary: #4a5568;
    --color-text-focus: #be185d;
    --color-text-accent: #2b6cb0;
    --color-border-focus: #000000;
    --color-icon-side: #000000;
  }